div.card-profile{
    max-width: 540px;
    height: 340px;
    border-radius: 20px;
    display: flex;
    background-color: $Black;
    @include media770px{
        margin-bottom: 30px;
    }
    @include media480px{
        height: 240px;
    }
    .img-card, .card-description{
        height: 100%;
    }

    .img-card{
        width: 35%;
        border-radius: 20px 0 0 20px;
        background-size: cover;
        background-position: center;
        background-image: url('../portimagens/wallace.jpg');
    }

    .card-description{
        width: 65%;
        border-radius: 0 20px 20px 0;
        .title-box-card{
            font-size: 1.8rem;
            border-bottom: 2px solid #535353;
            @include media1199px{
                font-size: 1.4rem;
            }
            @include media999px{
                font-size: 1rem;
            }
            @include media770px{
                font-size: 1.2rem;
            }
            @include media480px{
                font-size: 1rem;
            }
        }
        .desc-box-card{
            font-size: 1.5rem;
            @include media1199px{
                font-size: 1.2rem;
            }
            @include media999px{
                font-size: .9rem;
            }
            @include media770px{
                font-size: 1rem;
            }
            @include media480px{
                font-size: 0.9rem;
            }
        }
    }
}