footer{
    color: $aliceBlue;
    background-color: $lightBlack;
    .config-footer-top, .config-footer-mid{
        display: flex;
        @include screen1180px{
            flex-direction: column;
            align-items: center;
            .config-footer{
                margin-bottom: 10px;
            }
        }
        @include screen1020px{
            flex-direction: column;
            width: -webkit-fill-available;
            .config-footer{
                margin-bottom: 10px;
            }
        }
        @include screen999px{
            div.config-footer-top-1{
                inline-size: auto;
            }
        }
        @include screen820px{
            width: -webkit-fill-available;
            div.config-footer-top-1{
                inline-size: auto;
            }
        }
    }
    .config-footer-top{
        align-items: center;
    }
    .config-footer-mid{
        align-items: stretch;
    }
    .config-footer{
        text-align: center;
        @include flexAlignI-JC(center, center);
        @include screen480px{
            margin-bottom: 50px;
        }
        h3.footer-title{
            font-size: 2rem;
            font-family: 'Rancing Hard';
        }
        div.divider-line{
            width: 2px;
            height: 60px;
            margin: 0 20px;
            background-color: #ffffff62;
        }
        p.footer-text{
            font-size: 1em;
            color: #ffffffa6;
            @include screen999px{
                font-size: 0.9em;
                inline-size: max-content;
            }
            @include screen480px{
                font-size: 0.9em;
                inline-size: auto;
            }
        }
        article{
            margin-left: 5px;
            display: flex;
            @include screen999px{
                margin-top: 20px;
                flex-direction: column;
            }
            @include screen414px{
                margin-left: 20px;
            }
        }
    }
    hr.divider-line{
        margin: 30px 0 30px 0;
    }
    .footer-span{
        font-weight: bold;
    }
    li{
        color: #ffffffa6;
        a{
            font-size: 0.9em;
            color: #ffffffa6;
            &:hover{
                cursor: pointer;
                color: #ffffffa6;
                text-decoration: underline;
            }
            @include screen999px{
                font-size: 0.8em;
            }
        }
    }
    .config-footer-bot{
        text-align: left;
        p.footer-text{
            font-size: 1em;
            color: #ffffffa6;
            @include screen999px{
                font-size: 0.9em;
            }
            @include screen480px{
                font-size: 0.8em;
            }
        }
    }
}