/* --- CONFIGURAÇÃO [navbar] ---*/
nav.navbar-portfolio{
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(50px);
    background-color: $lightBlackOPC42;
    border-bottom: 1px solid $BlackOPC42;
    @include flexAlignI-JC(center, space-around);

    h1.navbar-title{
        font-size: 2.5rem;
        color: $lightBlue;
        font-family: 'Rancing Hard';

        @include screenTablet-low{
            font-size: 1.7rem;
        }
        @include screenPhone{
            display: none;
        }
    }

    div.mobile-menu{
        cursor: pointer;
        display: none;

        @include screenTablet{
            display: block;

            button{
                padding: 10px 20px;
                border-radius: 15px;
                color: $aliceBlue;
                background-color: $Black;

                .bi-x{
                    font-size: 2rem;
                }

                &:hover{
                    color: $lightBlue;
                }
            }
        }
        
    }

    ul.nav-list{
        list-style: none;
        @include flexAlignI-JC(center, space-around);

        @include screenTablet{
            gap: 10vh;
            top: 0;
            right: 0;
            width: 50vw;
            height: 100vh;
            transform: translateX(100%);
            position: absolute;
            transition: transform 0.3s ease-in-out;
            background-color: $lightBlack;
            @include flexFlexDir-JC(column, space-evenly);
        }

        div.close{
            display: none;

            @include screenTablet{
                padding: 5px;
                text-align: center;
                align-items: center;
                @include GridLayout-Columns(2fr 1fr);

                h1.sidebar-title{
                    font-size: 0.8rem;
                    color: $lightBlue;
                    font-family: 'Rancing Hard';
                }

                button{
                    padding: 0px;
                    margin-left: 5px;
                    border-radius: 15px;
                    color: $aliceBlue;
                    background-color: $Black;

                    .bi-x{
                        font-size: 2rem;
                    }

                    &:hover{
                        color: $lightBlue;
                    }
                }
            }
        }

        li{
            padding: 10px 20px;
            font-size: 1em;
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            @include screenTablet{
                opacity: 0;
                font-size: 1.5em;
            }
            @include screenPhone{
                font-size: 1em;
            }

            a{
                color: $pureWhite;
                text-decoration: none;
                &:hover{
                    color: $lightGray;
                    transition: .3s ease-in-out;
                }
            }
        }
    }

    ul.nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade{
        from{opacity: 0;transform: translateX(100px);}
        to{opacity: 1;transform: translateX(0);}
    }
}
/* --- CONFIGURAÇÃO [navbar] ---*/