@import '../sass/_variables.scss', '../sass/wave.scss', '../sass/navbar.scss', '../sass/card-profile.scss', '../sass/footer.scss';

/* --- CONFIGURAÇÃO [geral] ---*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.padding-basic{
    padding: 20px 10px;
}

body{
    background-color: $Black;
    font-family: Arial, Helvetica, sans-serif;
}

p.text-content, p.res{
    font-size: .7em;
    color: $pureWhite;
    font-family: 'Press Start 2P', sans-serif;
}

div.contacts{
    z-index: 8;
}

div.row{
    @include flexAlignI-JC(center, center)
}

h2.section-title{
    font-size: 2rem;
    margin-bottom: 50px;
    color: #131313;
    font-family: 'Critical Mass';
    text-shadow: 3px 3px 10px #f0f8ff48;
    animation: pulse 3s ease-in-out infinite;

    @include screenPORTRAIT{
        text-align: center;
    }

    @include screenTablet{
        font-size: 1.4rem;
    }
    @include screenPhone{
        font-size: 1rem;
    }
}

@keyframes pulse{
    0%, 100%{text-shadow: 3px 3px 10px #f0f8ff48;}
    50%{text-shadow: 3px 3px 10px #f0f8ff98;}
}

h3.card-title{
    font-size: 1.2em;
    font-family: 'Commando';
}

.stage-imp{
    background-color: $darkGray;
}

.stage-par{
    background-color: $Black;
}

.p-page{
    padding: 65px 90px;
    @include screenTablet{
        padding: 65px 45px;
    }

    @include screenPhone{
        padding: 65px 5px;
    }
}

.pad-square{
    padding: 50px 50px;
    @include screenPhone{
        padding: 50px 10px;
    }
}

img.tamaki-photo{
    width: 400px;
    height: 400px;
    @include screenTablet-bootstrap{
        width: 100%;
    }
}

a{
    text-decoration: none;
}

button.button-port{
    padding: 10px 20px;
    background-color: $Black;
    font-family: 'Commando';

    i{
        color: $pureWhite;
    }

    a{
        text-decoration: none;
        transition: .3s ease-in-out;
        color: $pureWhite;
        &:hover{
            color: $Gray;
            transition: .3s ease-in-out;
        }
    }
}
/* --- CONFIGURAÇÃO [geral] ---*/

/* --- CONFIGURAÇÃO [section => introdução] ---*/
section.stage-intro{

    div.layer-background{
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('../portimagens/bg-fluid.png');

        div.layer-color{
            background-color: $BlackOPC90;

            div.layer-block{
                text-align: center;
                @include Landing;
                @include flexFlexDir-JC(column, center);

                @include screenLANDSCAPE{
                    justify-content: flex-end;
                }

                img.astro{
                    max-width: 65vw;
                    width: 25vw;
                    height: 50vh;
                    border-radius: 50%;

                    @include screenPORTRAIT{
                        width: 65vw;
                    }
                }

                h2.intro-text{
                    font-size: 4.5rem;
                    color: $pureWhite;
                    animation: float 3s ease-in-out infinite;
                    text-shadow: 3px 3px 0 $Black, -3px -3px 0 $Cyan;
                    font-family: 'Critical Mass';

                    @include screenTablet{
                        font-size: 3.5rem;
                    }
                    @include screenPhone{
                        font-size: 2rem;
                    }
                }

                @keyframes float{
                    0%, 100%{transform: translateY(-20px);}
                    50%{transform: translateY(-100px);}
                }
            }
        }
    }
}
/* --- CONFIGURAÇÃO [section => stage1] ---*/

/* --- CONFIGURAÇÃO [section => projetos] ---*/
div.cards-container {
    align-items: center;
    @include GridLayout-Columns(repeat(3, 1fr));

    @include screenPORTRAIT{
        @include GridLayout-Columns(repeat(1, 1fr));
    }
}

div.card{
    height: 40vh;
    margin-left: 2vw;
    margin-bottom: 5vh;
    border-radius: 25px;
    background-color: #0d0d0d !important;

    div.card-body{
        border-radius: 20px;
        background-color: $lightGray;

        div.card-header{
            background-color: $lightBlack;
            padding: 10px 20px;
            border-radius: 15px 15px 0 0;

            i.badget-card{
                font-size: 0.9em;
                color: $pureWhite;
                &:hover{
                    color: $lightBlue;
                }
                @include screenPhone{
                    font-size: 0.8em;
                }
            }
        }
    }

    div.bot-card{
        padding: 5px;

        p{
            font-weight: bold;
        }

        ol{
            list-style: none;

            a{
                text-decoration: none;
                color: $Black;
                &:hover{
                    text-decoration: underline;
                }
                &:visited{
                    color: $lightBlue;
                }
            }
        }
    }
}

div.grid-blocks-2{
    text-align: center;
    align-items: center;
    @include GridLayout-Columns(repeat(2, 1fr));

    @include screenPORTRAIT{
        @include GridLayout-Columns(repeat(1, 1fr));
    }
}
/* --- CONFIGURAÇÃO [section => projetos] ---*/

/* --- CONFIGURAÇÃO [section => saiba mais] ---*/
div.badgets-content{
    text-align: center;

    i.badget-filter{
        font-size: 5em;
        cursor: pointer;
        color: $pureWhite;
        &:hover{
            color: $lightBlue;
        }

        @include screenPORTRAIT{
            font-size: 3em;
        }
    }
}
/* --- CONFIGURAÇÃO [section => saiba mais] ---*/