:root{
	--background: #000;
	--main-color: #f0f8ff;
	--light-background: #111;
	--red: #ff0000;
	--blue: #40cfff;
	--purple-hollow: #652ec7;
	--panel-dex-bg: #0b0b0b;
}

@font-face{
	font-family: 'Rancing Hard';
	src: url("../font/RACING HARD.ttf") format('truetype');
}

@font-face{
	font-family: 'Commando';
	src: url("../font/commando.ttf") format('truetype');
}

@font-face{
    font-family: 'Critical Mass';
    src: url("../font/critical-mass-ldr.ttf") format('truetype');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.port-title-h2{
	font-size: 4rem;
	text-shadow: 3px 3px 10px #f0f8ff48;
    animation: pulse 3s ease-in-out infinite;
	font-family: 'Critical Mass';
}

@keyframes pulse{
    0%, 100%{text-shadow: 3px 3px 10px #f0f8ff48;}
    50%{text-shadow: 3px 3px 10px #f0f8ff98;}
}

.card-title, .card-text{
	padding: 5px;
	color: var(--main-color);
}

.main-text{
	padding: 10px;
	font-size: 0.6rem;
	text-align: center;
	color: var(--main-color);
	font-family: 'Press Start 2P' , sans-serif;
}

.container-line-2{
	display: grid;
	grid-template-rows: 1fr 2fr;
}

.container-line-3{
	display: grid;
	grid-template-rows: repeat(3, 1fr);	
}

.container-column-2{
	padding: 0px 100px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);	
}

.container-column-3{
	padding: 0px 100px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
}

.satoru {
  width: 50%;
}

main.main-container{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

main.main-container .home-container{
	background-image: url('../img/gojo.gif');
}

div.home-links article.home-main-links a,
div.home-links article.home-btn-link a#cv{
	text-decoration: none;
	color: var(--main-color);
	font-family: 'Commando';
}

main.main-container div.home-links{
	z-index: 100;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

main.main-container div.home-links article.home-main-links{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

div.home-links article.home-btn-link{
	text-align: center;
}

div.home-links article.home-btn-link a#cv{
	padding: 15px;
	backdrop-filter: blur(50px);
	transition: 0.4s ease-in-out;
	background-color: #0404048c;
}

div.home-links article.home-main-links a:hover{
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	-webkit-transform: scale(1.2);
}

div.home-links article.home-btn-link a#cv:hover{
	transition: 0.4s ease-in-out;
	color: #40cfff;
	background-color: var(--background);
}

main.main-container section.parallax{
    height: 100vh !important;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main.main-container section.parallax:after{
	content: "";
    z-index: 8;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -o-linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -moz-linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -webkit-linear-gradient(to bottom, #00000000, #00000065, #000000);
}

main.main-container section.topic-container{
	padding: 150px 0;
	background-color: var(--background);
}

.container-line-2 div.container-title{
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-line-2 div.container-column-2 article,
.container-line-2 div.container-column-2 aside{
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-line-2 div.container-column-2 article{
	flex-direction: column;
}

.container-line-2 div.container-column-3{
	gap: 20px;
}

div.container-column-3 div.card{
	background-color: var(--light-background);
}

.card-header{
	background-color: rgba(0, 0, 0, 0.67)!important;
}

h3.card-title abbr{
	text-decoration: none;
}

h3.card-title abbr i{
	color: #595959;
}

div.card div.bot-card ol{
	list-style: none;
}

/* =============================== */
/* CARD-DEX */
.card-dex{
	padding: 0 105px;
	display: grid;
	grid-template-rows: 0fr 1fr;
}

.card-dex div.card-dex-top,
.card-dex div.card-dex-bot{
	background-color: var(--light-background);
}

.card-dex div.card-dex-top{
	z-index: 10;
	display: grid;
	grid-template-rows: 3rem 14.5rem 3rem;
	border: 5px solid #2128469c;
	box-shadow: 0px 22px 10px #00000094;
}

div.card-dex-top div.card-dex-top-title{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--main-color);
	background-color: var(--panel-dex-bg);
}

div.card-dex-top div.card-dex-top-title h3{
	font-size: 0.6rem;
	font-family: 'Press Start 2P' , sans-serif;
}

div.card-dex-top div.card-dex-top-title aside{
	gap: 24px;
	display: flex;
}

div.card-dex-top div.card-dex-top-title aside a{
	color: var(--main-color);
}

div.card-dex-top div.card-dex-top-title aside a:hover{
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	-webkit-transform: scale(1.2);
}

div.card-dex-top div.card-dex-top-profile{
	display: grid;
	grid-template-columns: 1fr 6fr;
}

div.card-dex-top div.card-dex-top-profile .card-dex-img{
	width: 100%;
	height: 200px;
}

div.card-dex-top div.card-dex-top-profile-text-box{
	display: grid;
	grid-auto-rows: 1fr 8fr;
}

div.card-dex-top div.card-dex-top-profile-text-box article{
	color: var(--main-color);
}

div.card-dex-top-profile-text-box article.dex-text-box-title{
	text-align: center;
}

article.dex-text-box-title h3{
	font-family: 'Commando';
}

.card-dex div.card-dex-bot{
	padding: 30px 10px;
}

.card-dex div.card-dex-bot div.card-dex-box-panel{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	display: grid;
	grid-template-rows: 1fr 5fr;
	background-color: var(--panel-dex-bg);
}

.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-search{
	padding: 15px;
	display: grid;
	grid-template-columns: 20fr 1fr;
	border-bottom: 2px solid var(--background);
}

div.card-dex-box-panel div.card-dex-box-panel-search input[type="search"].input-search{
	padding: 5px;
	color: var(--main-color);
	background-color: #111;
	border-color: #f0f8ff9c;
}

div.card-dex-box-panel div.card-dex-box-panel-search input[type="search"].input-search:focus{
	outline: none !important;
	background-color: #1c1c1c;
}

div.card-dex-box-panel div.card-dex-box-panel-search article.btn-search{
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main-color);
	background-color: #1c1c1c;
	border: 1px solid #f0f8ff9c;
}

.card-dex-box-panel-icons{
  padding: 15px;
}

.card-dex-box-panel-icons div.panel-icons{
	gap: 10px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.card-dex-box-panel-icons div.panel-icons article.box-icon{
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1c1c1c;
}

.card-dex-box-panel-icons div.panel-icons article.box-icon:hover{
	cursor: pointer;
	background-color: var(--light-background);
}

div.panel-icons article.box-icon i.icon{
	font-size: 1.6rem;
	color: var(--main-color);
}

div.panel-icons article.box-icon:hover i.icon{
	color: var(--blue);
}

div.panel-icons article.box-icon:hover p{
	text-shadow: 0 0 3px var(--blue), 0 0 5px var(--blue);
}