@font-face {
  font-family: "Rancing Hard";
  src: url("../font/RACING HARD.ttf") format("truetype");
}
@font-face {
  font-family: "Commando";
  src: url("../font/commando.ttf") format("truetype");
}
@font-face {
  font-family: "Critical Mass";
  src: url("../font/critical-mass-ldr.ttf") format("truetype");
}
@font-face {
  font-family: "Rancing Hard";
  src: url("../font/RACING HARD.ttf") format("truetype");
}
@font-face {
  font-family: "Commando";
  src: url("../font/commando.ttf") format("truetype");
}
@font-face {
  font-family: "Critical Mass";
  src: url("../font/critical-mass-ldr.ttf") format("truetype");
}
.glitch-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glitch {
  position: relative;
  font-size: 5.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  z-index: 1;
  color: var(--main-color);
  font-family: "Rancing Hard";
}
@media screen and (max-width: 1024px) {
  .glitch {
    font-size: 3.5rem;
  }
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: cyan;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: red;
  z-index: -2;
}

@keyframes glitch-it {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #404040 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 43px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 29px;
  border: 0px double #ffffff;
}

.slide300 {
  visibility: hidden; }

:root {
  --background: #000;
  --main-color: #f0f8ff;
  --light-background: #111;
  --red: #ff0000;
  --blue: #40cfff;
  --purple-hollow: #652ec7;
  --panel-dex-bg: #0b0b0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.port-title-h2 {
  font-size: 4rem;
  text-shadow: 3px 3px 10px rgba(240, 248, 255, 0.2823529412);
  animation: pulse 3s ease-in-out infinite;
  font-family: "Critical Mass";
}
@media screen and (max-width: 1024px) {
  .port-title-h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 825px) {
  .port-title-h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .port-title-h2 {
    font-size: 1.4rem;
  }
}

@keyframes pulse {
  0%, 100% {
    text-shadow: 3px 3px 10px rgba(240, 248, 255, 0.2823529412);
  }
  50% {
    text-shadow: 3px 3px 10px rgba(240, 248, 255, 0.5960784314);
  }
}
.card-title, .card-text {
  padding: 5px;
  color: var(--main-color);
}

.main-text {
  padding: 10px;
  font-size: 0.6rem;
  text-align: center;
  color: var(--main-color);
  font-family: "Press Start 2P", sans-serif;
}

.container-line-2 {
  display: grid;
  display: grid;
  grid-template-rows: 0.5fr 2fr;
}
@media screen and (max-width: 1024px) {
  .container-line-2 {
    display: grid;
    grid-template-rows: 0.2fr 2fr;
  }
}

.container-line-3 {
  display: grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.container-column-2 {
  padding: 0px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 480px) {
  .container-column-2 {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.container-column-3 {
  padding: 0px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 1024px) {
  .container-column-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .container-column-3 {
    padding: 0px 20px;
  }
}

.satoru {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .satoru {
    width: 100%;
  }
}


main.main-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  main.main-container .home-container {
    background-image: url("../img/gojo.gif"); }

main.main-container div.home-links {
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  main.main-container div.home-links article.home-main-links a,
  main.main-container div.home-links article.home-btn-link a#cv {
    text-decoration: none;
    color: var(--main-color);
    font-family: 'Commando'; }
  main.main-container div.home-links article.home-main-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    main.main-container div.home-links article.home-main-links a:hover {
      text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
      -webkit-transform: scale(1.2); }
    @media screen and (max-width: 1024px) {
      main.main-container div.home-links article.home-main-links {
        margin-bottom: 15px; } }
  main.main-container div.home-links article.home-btn-link {
    text-align: center; }
    main.main-container div.home-links article.home-btn-link a#cv {
      padding: 15px;
      backdrop-filter: blur(50px);
      transition: 0.4s ease-in-out;
      background-color: #0404048c; }
      main.main-container div.home-links article.home-btn-link a#cv:hover {
        transition: 0.4s ease-in-out;
        color: #40cfff;
        background-color: var(--background); }
  @media screen and (max-width: 1024px) {
    main.main-container div.home-links {
      display: grid;
      grid-template-columns: repeat(1, 1fr); } }
body {
  background-image: url("../img/gojo_bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main.main-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgba(0, 0, 0, 0.9333333333);
}
main.main-container .home-container {
  background-image: url("../img/gojo.gif");
}
main.main-container div.home-links {
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main.main-container div.home-links article.home-main-links a,
main.main-container div.home-links article.home-btn-link a#cv {
  text-decoration: none;
  color: var(--main-color);
  font-family: "Commando";
}
main.main-container div.home-links article.home-main-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main.main-container div.home-links article.home-main-links a:hover {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  -webkit-transform: scale(1.2);
}
@media screen and (max-width: 1024px) {
  main.main-container div.home-links article.home-main-links {
    margin-bottom: 15px;
  }
}
main.main-container div.home-links article.home-btn-link {
  text-align: center;
}
main.main-container div.home-links article.home-btn-link a#cv {
  padding: 15px;
  backdrop-filter: blur(50px);
  transition: 0.4s ease-in-out;
  background-color: rgba(4, 4, 4, 0.5490196078);
}
main.main-container div.home-links article.home-btn-link a#cv:hover {
  transition: 0.4s ease-in-out;
  color: #40cfff;
  background-color: var(--background);
}
@media screen and (max-width: 1024px) {
  main.main-container div.home-links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

main.main-container section.parallax {
  height: 100vh !important;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  main.main-container section.parallax:after {
    content: "";
    z-index: 8;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -o-linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -moz-linear-gradient(to bottom, #00000000, #00000065, #000000);
    background: -webkit-linear-gradient(to bottom, #00000000, #00000065, #000000); }
main.main-container section.topic-container {
  padding: 150px 0;
  background-color: var(--background);
  background-attachment: fixed;
  box-shadow: -50px 0 50px #000;
}
main.main-container section.parallax:after {
  content: "";
  z-index: 8;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3960784314), #000000);
  background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3960784314), #000000);
  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3960784314), #000000);
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3960784314), #000000);
}
main.main-container section.topic-container {
  padding: 150px 0;
}

div.container-line-2 div.container-title {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.container-line-2 div.container-column-2 article,
div.container-line-2 div.container-column-2 aside {
  display: flex;
  align-items: center;
}
div.container-line-2 div.container-column-2 article {
  flex-direction: column;
  justify-content: center;
}
div.container-line-2 div.container-column-2 aside {
  justify-content: right;
}
div.container-line-2 div.container-column-3 {
  gap: 20px;
}

div.container-column-3 div.card {
  background-color: var(--light-background);
}

.card-header {
  background-color: rgba(0, 0, 0, 0.67) !important;
}

h3.card-title abbr {
  text-decoration: none;
}
h3.card-title abbr i {
  color: #595959;
}

div.card div.bot-card ol {
  list-style: none;
}

/* =============================== */
/* CARD-DEX */
.card-dex {
  padding: 0 105px;
  display: grid;
  grid-template-rows: 0fr 1fr;
}
.card-dex div.card-dex-top, .card-dex div.card-dex-bot {
  background-color: var(--light-background);
}
.card-dex div.card-dex-top {
  z-index: 10;
  display: grid;
  grid-template-rows: 3rem 14.5rem 3rem;
  border: 5px solid rgba(33, 40, 70, 0.6117647059);
  box-shadow: 0px 22px 10px rgba(0, 0, 0, 0.5803921569);
}
.card-dex div.card-dex-top div.card-dex-top-title {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
  background-color: var(--panel-dex-bg);
}
.card-dex div.card-dex-top div.card-dex-top-title h3 {
  font-size: 0.6rem;
  font-family: "Press Start 2P", sans-serif;
}
.card-dex div.card-dex-top div.card-dex-top-title aside {
  gap: 24px;
  display: flex;
}
.card-dex div.card-dex-top div.card-dex-top-title aside a {
  color: var(--main-color);
}
.card-dex div.card-dex-top div.card-dex-top-title aside a:hover {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  -webkit-transform: scale(1.2);
}
.card-dex div.card-dex-top div.card-dex-top-profile {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.card-dex div.card-dex-top div.card-dex-top-profile .card-dex-img {
  width: 100%;
  height: 200px;
}
.card-dex div.card-dex-top div.card-dex-top-profile-text-box {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.card-dex div.card-dex-top div.card-dex-top-profile-text-box article {
  color: var(--main-color);
}
.card-dex div.card-dex-top div.card-dex-top-profile-text-box article.dex-text-box-title {
  text-align: center;
}
.card-dex div.card-dex-top div.card-dex-top-profile-text-box article.dex-text-box-title h3 {
  font-family: "Commando";
}
.card-dex div.card-dex-bot {
  padding: 30px 10px;
}
.card-dex div.card-dex-bot div.card-dex-box-panel {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: var(--panel-dex-bg);
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-search {
  padding: 15px;
  display: grid;
  grid-template-columns: 20fr 1fr;
  border-bottom: 2px solid var(--background);
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-search input[type=search].input-search {
  padding: 5px;
  color: var(--main-color);
  background-color: #111;
  border-color: rgba(240, 248, 255, 0.6117647059);
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-search input[type=search].input-search:focus {
  outline: none !important;
  background-color: #1c1c1c;
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-search article.btn-search {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  background-color: #1c1c1c;
  border: 1px solid rgba(240, 248, 255, 0.6117647059);
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-search article.btn-search:hover {
  cursor: pointer;
  background-color: #000000;
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-icons {
  padding: 15px;
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-icons div.panel-icons {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-icons div.panel-icons article.box-icon {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-icons div.panel-icons article.box-icon i.icon {
  font-size: 1.6rem;
  color: var(--main-color);
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-icons div.panel-icons article.box-icon:hover {
  cursor: pointer;
  background-color: var(--light-background);
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-icons div.panel-icons article.box-icon:hover i.icon {
  color: var(--blue);
}
.card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-icons div.panel-icons article.box-icon:hover p {
  text-shadow: 0 0 3px var(--blue), 0 0 5px var(--blue);
}
@media screen and (max-width: 1024px) {
  .card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-icons div.panel-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .card-dex div.card-dex-bot div.card-dex-box-panel div.card-dex-box-panel-icons div.panel-icons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .card-dex div.card-dex-bot div.card-dex-box-panel {
    display: grid;
    grid-template-rows: 1fr 13fr;
  }
}
@media screen and (max-width: 480px) {
  .card-dex div.card-dex-bot div.card-dex-box-panel {
    display: grid;
    grid-template-rows: 1fr 25fr;
  }
}
@media screen and (max-width: 1024px) {
  .card-dex {
    padding: 0 10px;
  }
}

/* =============================== */
/* PROJECTS CARDS */

@media screen and (max-width: 1024px) {
  h3.card-title i.badget-card {
    font-size: 1rem; } }
@media screen and (max-width: 825px) {
  h3.card-title i.badget-card {
    display: none; } }
@media screen and (max-width: 1024px) {
  h3.card-title {
    font-size: 1rem; } }

div.card {
  width: 100%;
}

div.card .my_bg_dark {
  padding: 10px;
  font-weight: bold;
  color: var(--color);
  background-color: var(--light-background);
}

div.card .my_bg_dark i {
  margin: 5px;
}

div.card div.my_card_body .my_card_body_text {
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8352941176);
}

div.my_card_body .my_card_body_text p {
  font-weight: bolder;
}

div.my_card_body .my_card_body_text p.s_1 {
  color: #01b1f7;
}

div.my_card_body .my_card_body_text p.s_2 {
  color: #fc4949;
}

div.my_card_body .my_card_body_text p.s_3 {
  color: #008000;
}

div.card div.s_1,
div.card div.s_2,
div.card div.s_3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.card div.s_1 {
  background-image: url("../img/s_1.jpeg");
}

div.card div.s_2 {
  background-image: url("../img/s_2.jpeg");
}

div.card div.s_3 {
  background-image: url("../img/s_3.jpeg");
}
/*# sourceMappingURL=output.css.map */
