/* --- MOBILE (CELULAR)---*/
@media (max-width: 470px){
    /* --- NAVBAR ---*/
    img.runa{
        width: 30px;
        height: 30px;
    }
    h1.h1{
        font-size: 1.5em;
    }

    h2.intro-text{
        font-size: 15pt;
    }

    h2.title-1{
        font-size: 12pt;
    }

    nav{
        width: 100%;
    }

    ul.nav-list{
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        backdrop-filter: blur(20px);
        transform: translateX(100%);
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.3s ease-in-out;
        background: #000000c9;
    }

    button.button-port.button-curriculo{
        width: 120px;
        margin-left: 0;
    }

    /* --- NAVBAR ---*/

    /* --- PORTFÓLIO ---*/
    img.astro{
        width: 70%;
        margin: auto;
        border-radius: 50%;
        display: flex;
    }

    /* --- PORTFÓLIO ---*/

    /* --- SECTION (INTRODUÇÃO) ---*/
    section.content.content-intro {
        height: 100vh;
    }
    /* --- SECTION (INTRODUÇÃO) ---*/

    /* --- SECTION (SAIBA MAIS) ---*/
    .content-profile{
        height: 100%;
    }

    .content-bottom-left > p{
        font-size: 1.2em;
        font-family: 'FontA';
    }
    /* --- SECTION (SAIBA MAIS) ---*/

    /* --- FOOTER ---*/
    footer > div.left{
        padding: 10px;
    }

    footer > div.right{
        padding: 10px;
    }
    /* --- FOOTER ---*/
}