@import '../sass/_variables.scss', '../sass/wave.scss';

@font-face{
	font-family: 'Rancing Hard';
	src: url("../portfontes/RACING HARD.ttf") format('truetype');
}

@font-face{
	font-family: 'Commando';
	src: url("../portfontes/commando.ttf") format('truetype');
}

@font-face{
    font-family: 'Critical Mass';
    src: url("../portfontes/critical-mass-ldr.ttf") format('truetype');
}

/* --- CONFIGURAÇÃO [geral] ---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $Black;
    font-family: Arial, Helvetica, sans-serif;
}

p.text-content{
    font-size: .7em;
    color: $pureWhite;
    font-family: 'Press Start 2P', sans-serif;
}

div.contacts{
    z-index: 8;
}

div.row{
    @include flexAlignI-JC(center, center)
}

h2.section-title{
    margin-bottom: 50px;
    color: #131313;
    font-family: 'Critical Mass';
    text-shadow: 3px 3px 10px #f0f8ff48;
    animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse{
    0%, 100%{text-shadow: 3px 3px 10px #f0f8ff48;}
    50%{text-shadow: 3px 3px 10px #f0f8ff98;}
}

i.badget{
    color: $pureWhite;
    &:hover{
        color: $lightBlue;
    }
}

.flex{
    display: flex;
}

.stage-imp{
    background-color: $darkGray;
}

.stage-par{
    background-color: $Black;
}

.p-page{
    padding: 65px 90px;
}

button.button-port{
    padding: 10px 20px;
    background-color: $Black;
    font-family: 'Commando';
    i{
        color: $pureWhite;
    }
    a{
        text-decoration: none;
        transition: .3s ease-in-out;
        color: $pureWhite;
        &:hover{
            color: $Cyan;
            transition: .3s ease-in-out;
        }
    }
    a.twitter:hover{
        cursor: pointer;
        background-image: linear-gradient(to right, $twitter);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: .3s ease-in-out;
    }
    a.instagram:hover{
        cursor: pointer;
        background-image: linear-gradient(to right, $instagram);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: .3s ease-in-out;
    }
    a.linkedin:hover{
        cursor: pointer;
        background-image: linear-gradient(to right, $linkedin);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: .3s ease-in-out;
    }
    a.github:hover{
        cursor: pointer;
        background-image: linear-gradient(to right, $github);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: .3s ease-in-out;
    }
}
/* --- CONFIGURAÇÃO [geral] ---*/

/* --- CONFIGURAÇÃO [navbar] ---*/
nav.navbar-portfolio{
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(50px);
    background-color: $lightBlackOPC42;
    border-bottom: 1px solid $BlackOPC42;
    @include flexAlignI-JC(center, space-around);
    h1.navbar-title{
        font-size: 2.5rem;
        color: $lightBlue;
        font-family: 'Rancing Hard';
    }
    ul.nav-list{
        list-style: none;
        @include flexAlignI-JC(center, space-around);
        li{
            padding: 10px 20px;
            font-size: 20px;
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            a{
                color: $pureWhite;
                text-decoration: none;
                &:hover{
                    color: $lightGray;
                    transition: .3s ease-in-out;
                }
            }
        }
    }
}
/* --- CONFIGURAÇÃO [navbar] ---*/

/* --- CONFIGURAÇÃO [section => stage1] ---*/
section.stage-1{
    margin-top: 5vh;
    div.layer-background{
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('../portimagens/bg-fluid.png');
        div.layer-color{
            background-color: $BlackOPC90;
            div.layer-block{
                text-align: center;
                @include Landing;
                @include flexFlexDir-JC(column, center);
                img.astro{
                    border-radius: 50%;
                }
                h2.intro-text{
                    font-size: 4.5rem;
                    color: $pureWhite;
                    animation: float 3s ease-in-out infinite;
                    text-shadow: 3px 3px 0 $Black, -3px -3px 0 $Cyan;
                    font-family: 'Critical Mass';
                }
                @keyframes float{
                    0%, 100%{transform: translateY(-20px);}
                    50%{transform: translateY(-100px);}
                }
            }
        }
    }
}
/* --- CONFIGURAÇÃO [section => stage1] ---*/

/* --- CONFIGURAÇÃO [section => projetos] ---*/
div.card{
    height: 40vh;
    margin-bottom: 5vh;
    border-radius: 25px;
    div.card-body{
        border-radius: 20px;
        background-color: $lightGray;
        div.card-header{
            background-color: $lightBlack;
            padding: 10px 20px;
            border-radius: 20px 20px 0 0;
        }
    }
    h3.card-title{
        font-size: 1.2em;
        font-family: 'Commando';
    }
    div.bot-card{
        padding: 5px;
        p{
            font-weight: bold;
        }
        ol{
            list-style: none;
            a{
                text-decoration: none;
                color: $Black;
                &:hover{
                    text-decoration: underline;
                }
                &:visited{
                    color: $lightBlue;
                }
            }
        }
    }
}
/* --- CONFIGURAÇÃO [section => projetos] ---*/


/* --- CONFIGURAÇÃO [section => footer] ---*/
footer.cabecalho{
    background-image: url(('../portimagens/footer.jfif'));
    div.content-footer-left{
        color: $pureWhite;
        p.content-footer-main{
            font-size: 1em;
            border-bottom: 2px solid #535353;
        }
    }
    div.content-footer-right{
        @include flexAlignI-JC(center, center);
        img.runa-footer{
            width: 250px;
            height: 250px;
        }
    }
}
/* --- CONFIGURAÇÃO [section => footer] ---*/