@charset "UTF-8";
.custom-shape-divider-bottom-1669994973 {
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669994973 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1669994973 .shape-fill {
  fill: #2C2D32;
}

/* --- CONFIGURAÇÃO [navbar] ---*/
nav.navbar-portfolio {
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  position: fixed;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(17, 17, 17, 0.4196078431);
  border-bottom: 1px solid rgba(13, 13, 13, 0.4196078431);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav.navbar-portfolio h1.navbar-title {
  font-size: 2.5rem;
  color: #23A4F2;
  font-family: "Rancing Hard";
}
@media screen and (max-width: 770px) {
  nav.navbar-portfolio h1.navbar-title {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 480px) {
  nav.navbar-portfolio h1.navbar-title {
    font-size: 1.5rem;
  }
}
nav.navbar-portfolio div.mobile-menu {
  cursor: pointer;
  display: none;
}
nav.navbar-portfolio div.mobile-menu div {
  height: 2px;
  width: 32px;
  margin: 8px;
  transition: 0.3s;
  background-color: #F2F2F2;
}
@media screen and (max-width: 999px) {
  nav.navbar-portfolio div.mobile-menu {
    display: block;
  }
}
nav.navbar-portfolio div.mobile-menu.active div.line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
nav.navbar-portfolio div.mobile-menu.active div.line2 {
  opacity: 0;
}
nav.navbar-portfolio div.mobile-menu.active div.line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
nav.navbar-portfolio ul.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 999px) {
  nav.navbar-portfolio ul.nav-list {
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    backdrop-filter: blur(100px);
    -moz-backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    transform: translateX(100%);
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 0.3s ease-in-out;
    background-color: #111111;
  }
}
nav.navbar-portfolio ul.nav-list li {
  padding: 10px 20px;
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media screen and (max-width: 999px) {
  nav.navbar-portfolio ul.nav-list li {
    opacity: 0;
    font-size: 1.5em;
  }
}
nav.navbar-portfolio ul.nav-list li a {
  color: #F2F2F2;
  text-decoration: none;
}
nav.navbar-portfolio ul.nav-list li a:hover {
  color: #535353;
  transition: 0.3s ease-in-out;
}
nav.navbar-portfolio ul.nav-list.active {
  transform: translateX(0);
}
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* --- CONFIGURAÇÃO [navbar] ---*/
div.card-profile {
  border-color: none;
  background-color: #0D0D0D;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.card-profile .img-card {
  height: 40vh;
  border-radius: 20px 0 0 20px;
}
div.card-profile .card-body.description-card {
  height: 40vh;
  border-radius: 0 20px 20px 0;
  background-color: #0D0D0D;
}

@font-face {
  font-family: "Rancing Hard";
  src: url("../portfontes/RACING HARD.ttf") format("truetype");
}
@font-face {
  font-family: "Commando";
  src: url("../portfontes/commando.ttf") format("truetype");
}
@font-face {
  font-family: "Critical Mass";
  src: url("../portfontes/critical-mass-ldr.ttf") format("truetype");
}
/* --- CONFIGURAÇÃO [geral] ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0D0D0D;
  font-family: Arial, Helvetica, sans-serif;
}

p.text-content, p.res {
  font-size: 0.7em;
  color: #F2F2F2;
  font-family: "Press Start 2P", sans-serif;
}

div.contacts {
  z-index: 8;
}

div.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2.section-title {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #131313;
  font-family: "Critical Mass";
  text-shadow: 3px 3px 10px rgba(240, 248, 255, 0.2823529412);
  -webkit-animation: pulse 3s ease-in-out infinite;
          animation: pulse 3s ease-in-out infinite;
}
@media screen and (max-width: 770px) {
  h2.section-title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 414px) {
  h2.section-title {
    font-size: 1rem;
  }
}

@-webkit-keyframes pulse {
  0%, 100% {
    text-shadow: 3px 3px 10px rgba(240, 248, 255, 0.2823529412);
  }
  50% {
    text-shadow: 3px 3px 10px rgba(240, 248, 255, 0.5960784314);
  }
}

@keyframes pulse {
  0%, 100% {
    text-shadow: 3px 3px 10px rgba(240, 248, 255, 0.2823529412);
  }
  50% {
    text-shadow: 3px 3px 10px rgba(240, 248, 255, 0.5960784314);
  }
}
.flex {
  display: flex;
}

.stage-imp {
  background-color: #2C2D32;
}

.stage-par {
  background-color: #0D0D0D;
}

.p-page {
  padding: 65px 90px;
}
@media screen and (max-width: 770px) {
  .p-page {
    padding: 65px 45px;
  }
}
@media screen and (max-width: 480px) {
  .p-page {
    padding: 65px 22px;
  }
}
@media screen and (max-width: 414px) {
  .p-page {
    padding: 65px 5px;
  }
}

button.button-port {
  padding: 10px 20px;
  background-color: #0D0D0D;
  font-family: "Commando";
}
button.button-port i {
  color: #F2F2F2;
}
button.button-port a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  color: #F2F2F2;
}
button.button-port a:hover {
  color: #02FDFD;
  transition: 0.3s ease-in-out;
}
button.button-port a.twitter:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #23A4F2, #50B7F5, #80CBF7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}
button.button-port a.instagram:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #D93662, #D9328E, #8D33A6, #F2AC57, #F25F29);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}
button.button-port a.linkedin:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #014283, #0274B3, #EFF6FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}
button.button-port a.github:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #535353, #131313);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.3s ease-in-out;
}

/* --- CONFIGURAÇÃO [geral] ---*/
/* --- CONFIGURAÇÃO [section => stage1] ---*/
section.stage-1 {
  margin-top: 5vh;
}
section.stage-1 div.layer-background {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("../portimagens/bg-fluid.png");
}
section.stage-1 div.layer-background div.layer-color {
  background-color: rgba(13, 13, 13, 0.9019607843);
}
section.stage-1 div.layer-background div.layer-color div.layer-block {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
section.stage-1 div.layer-background div.layer-color div.layer-block img.astro {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
@media screen and (max-width: 770px) {
  section.stage-1 div.layer-background div.layer-color div.layer-block img.astro {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  section.stage-1 div.layer-background div.layer-color div.layer-block img.astro {
    width: 250px;
    height: 250px;
  }
}
section.stage-1 div.layer-background div.layer-color div.layer-block h2.intro-text {
  font-size: 4.5rem;
  color: #F2F2F2;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
  text-shadow: 3px 3px 0 #0D0D0D, -3px -3px 0 #02FDFD;
  font-family: "Critical Mass";
}
@media screen and (max-width: 999px) {
  section.stage-1 div.layer-background div.layer-color div.layer-block h2.intro-text {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 770px) {
  section.stage-1 div.layer-background div.layer-color div.layer-block h2.intro-text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  section.stage-1 div.layer-background div.layer-color div.layer-block h2.intro-text {
    font-size: 2.5rem;
  }
}
@-webkit-keyframes float {
  0%, 100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-100px);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-100px);
  }
}

/* --- CONFIGURAÇÃO [section => stage1] ---*/
/* --- CONFIGURAÇÃO [section => projetos] ---*/
div.card {
  height: 40vh;
  margin-bottom: 5vh;
  border-radius: 25px;
}
div.card div.card-body {
  border-radius: 20px;
  background-color: #535353;
}
div.card div.card-body div.card-header {
  background-color: #111111;
  padding: 10px 20px;
  border-radius: 20px 20px 0 0;
}
div.card div.card-body div.card-header i.badget-card {
  font-size: 0.9em;
  color: #F2F2F2;
}
div.card div.card-body div.card-header i.badget-card:hover {
  color: #23A4F2;
}
@media screen and (max-width: 480px) {
  div.card div.card-body div.card-header i.badget-card {
    font-size: 0.8em;
  }
}
div.card h3.card-title {
  font-size: 1.2em;
  font-family: "Commando";
}
div.card div.bot-card {
  padding: 5px;
}
div.card div.bot-card p {
  font-weight: bold;
}
div.card div.bot-card ol {
  list-style: none;
}
div.card div.bot-card ol a {
  text-decoration: none;
  color: #0D0D0D;
}
div.card div.bot-card ol a:hover {
  text-decoration: underline;
}
div.card div.bot-card ol a:visited {
  color: #23A4F2;
}

/* --- CONFIGURAÇÃO [section => projetos] ---*/
/* --- CONFIGURAÇÃO [section => saiba mais] ---*/
i.badget-filter {
  font-size: 5em;
  cursor: pointer;
  color: #F2F2F2;
}
i.badget-filter:hover {
  color: #23A4F2;
}
@media screen and (max-width: 480px) {
  i.badget-filter {
    font-size: 3em;
  }
}

/* --- CONFIGURAÇÃO [section => saiba mais] ---*/
/* --- CONFIGURAÇÃO [section => footer] ---*/
footer.cabecalho {
  padding: 10px 20px;
  background-size: cover;
  background-image: url("../portimagens/footer.jfif");
}
footer.cabecalho div.content-footer-left {
  color: #F2F2F2;
}
footer.cabecalho div.content-footer-left p.content-footer-main {
  font-size: 1em;
  border-bottom: 2px solid #535353;
}
@media screen and (max-width: 770px) {
  footer.cabecalho div.content-footer-left p.content-footer-main {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 480px) {
  footer.cabecalho div.content-footer-left p.content-footer-main {
    font-size: 0.7em;
  }
}
footer.cabecalho div.content-footer-left p {
  font-size: 1.2em;
}
@media screen and (max-width: 770px) {
  footer.cabecalho div.content-footer-left p {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 480px) {
  footer.cabecalho div.content-footer-left p {
    font-size: 0.8em;
  }
}
footer.cabecalho div.content-footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.cabecalho div.content-footer-right img.runa-footer {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 770px) {
  footer.cabecalho div.content-footer-right img.runa-footer {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  footer.cabecalho div.content-footer-right img.runa-footer {
    width: 90px;
    height: 85px;
  }
}

/* --- CONFIGURAÇÃO [section => footer] ---*//*# sourceMappingURL=style.css.map */