@import '../sass/_variables.scss', '../sass/wave.scss', '../sass/navbar';

@font-face{
	font-family: 'Rancing Hard';
	src: url("../portfontes/RACING HARD.ttf") format('truetype');
}

@font-face{
	font-family: 'Commando';
	src: url("../portfontes/commando.ttf") format('truetype');
}

@font-face{
    font-family: 'Critical Mass';
    src: url("../portfontes/critical-mass-ldr.ttf") format('truetype');
}

/* --- CONFIGURAÇÃO [geral] ---*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $Black;
    font-family: Arial, Helvetica, sans-serif;
}

p.text-content, p.res{
    font-size: .7em;
    color: $pureWhite;
    font-family: 'Press Start 2P', sans-serif;
}

div.contacts{
    z-index: 8;
}

div.row{
    @include flexAlignI-JC(center, center)
}

h2.section-title{
    font-size: 2rem;
    margin-bottom: 50px;
    color: #131313;
    font-family: 'Critical Mass';
    text-shadow: 3px 3px 10px #f0f8ff48;
    animation: pulse 3s ease-in-out infinite;
    @include media770px{
        font-size: 1.4rem;
    }
    @include media414px{
        font-size: 1rem;
    }
}

@keyframes pulse{
    0%, 100%{text-shadow: 3px 3px 10px #f0f8ff48;}
    50%{text-shadow: 3px 3px 10px #f0f8ff98;}
}

.flex{
    display: flex;
}

.stage-imp{
    background-color: $darkGray;
}

.stage-par{
    background-color: $Black;
}

.p-page{
    padding: 65px 90px;
    @include media770px{
        padding: 65px 45px;
    }
    @include media480px{
        padding: 65px 22px;
    }
    @include media414px{
        padding: 65px 5px;
    }
}

button.button-port{
    padding: 10px 20px;
    background-color: $Black;
    font-family: 'Commando';
    i{
        color: $pureWhite;
    }
    a{
        text-decoration: none;
        transition: .3s ease-in-out;
        color: $pureWhite;
        &:hover{
            color: $Cyan;
            transition: .3s ease-in-out;
        }
    }
    a.twitter:hover{
        cursor: pointer;
        background-image: linear-gradient(to right, $twitter);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: .3s ease-in-out;
    }
    a.instagram:hover{
        cursor: pointer;
        background-image: linear-gradient(to right, $instagram);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: .3s ease-in-out;
    }
    a.linkedin:hover{
        cursor: pointer;
        background-image: linear-gradient(to right, $linkedin);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: .3s ease-in-out;
    }
    a.github:hover{
        cursor: pointer;
        background-image: linear-gradient(to right, $github);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: .3s ease-in-out;
    }
}
/* --- CONFIGURAÇÃO [geral] ---*/

/* --- CONFIGURAÇÃO [section => stage1] ---*/
section.stage-1{
    margin-top: 5vh;
    div.layer-background{
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('../portimagens/bg-fluid.png');
        div.layer-color{
            background-color: $BlackOPC90;
            div.layer-block{
                text-align: center;
                @include Landing;
                @include flexFlexDir-JC(column, center);
                img.astro{
                    width: 350px;
                    height: 350px;
                    border-radius: 50%;
                    @include media770px{
                        width: 300px;
                        height: 300px;
                    }
                    @include media480px{
                        width: 250px;
                        height: 250px;
                    }
                }
                h2.intro-text{
                    font-size: 4.5rem;
                    color: $pureWhite;
                    animation: float 3s ease-in-out infinite;
                    text-shadow: 3px 3px 0 $Black, -3px -3px 0 $Cyan;
                    font-family: 'Critical Mass';
                    @include media999px{
                        font-size: 3.5rem;
                    }
                    @include media770px{
                        font-size: 3rem;
                    }
                    @include media480px{
                        font-size: 2.5rem;
                    }
                }
                @keyframes float{
                    0%, 100%{transform: translateY(-20px);}
                    50%{transform: translateY(-100px);}
                }
            }
        }
    }
}
/* --- CONFIGURAÇÃO [section => stage1] ---*/

/* --- CONFIGURAÇÃO [section => projetos] ---*/
div.card{
    height: 40vh;
    margin-bottom: 5vh;
    border-radius: 25px;
    div.card-body{
        border-radius: 20px;
        background-color: $lightGray;
        div.card-header{
            background-color: $lightBlack;
            padding: 10px 20px;
            border-radius: 20px 20px 0 0;
            i.badget-card{
                font-size: 0.9em;
                color: $pureWhite;
                &:hover{
                    color: $lightBlue;
                }
                @include media480px{
                    font-size: 0.8em;
                }
            }
        }
    }
    h3.card-title{
        font-size: 1.2em;
        font-family: 'Commando';
    }
    div.bot-card{
        padding: 5px;
        p{
            font-weight: bold;
        }
        ol{
            list-style: none;
            a{
                text-decoration: none;
                color: $Black;
                &:hover{
                    text-decoration: underline;
                }
                &:visited{
                    color: $lightBlue;
                }
            }
        }
    }
}
/* --- CONFIGURAÇÃO [section => projetos] ---*/

/* --- CONFIGURAÇÃO [section => saiba mais] ---*/
i.badget-filter{
    font-size: 2em;
    cursor: pointer;
    color: $pureWhite;
    &:hover{
        color: $lightBlue;
    }
    @include media480px{
        font-size: 3em;
    }
}
/* --- CONFIGURAÇÃO [section => saiba mais] ---*/

/* --- CONFIGURAÇÃO [section => footer] ---*/
footer.cabecalho{
    padding: 10px 20px;
    background-size: cover;
    background-image: url(('../portimagens/footer.jfif'));
    div.content-footer-left{
        color: $pureWhite;
        p.content-footer-main{
            font-size: 1em;
            border-bottom: 2px solid #535353;
            @include media770px{
                font-size: 0.9em;
            }
            @include media480px{
                font-size: 0.7em;
            }
        }
        p{
            font-size: 1.2em;
            @include media770px{
                font-size: 0.9em;
            }
            @include media480px{
                font-size: 0.8em;
            }
        }
    }
    div.content-footer-right{
        @include flexAlignI-JC(center, center);
        img.runa-footer{
            width: 200px;
            height: 200px;
            @include media770px{
                width: 100px;
                height: 100px;
            }
            @include media480px{
                width: 90px;
                height: 85px;
            }
        }
    }
}
/* --- CONFIGURAÇÃO [section => footer] ---*/